/*Montserrat*/
@font-face {
  /*Deepest Possible Browser Support*/
  font-family: Montserrat;
  /* Safari, Android, iOS */
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  /*Deepest Possible Browser Support*/
  font-family: Montserrat-Bold;
  /* Safari, Android, iOS */
  src: url("/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
/*Oswald*/
@font-face {
  font-family: Oswald;
  /* Safari, Android, iOS */
  src: url("/fonts/Oswald/Oswald regular.ttf") format("truetype");
  /*Formato para navegadores modernos */
}
/*Ubuntu*/
@font-face {
  font-family: Ubuntu;
  /* Safari, Android, iOS */
  src: url("/fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  /*Formato para navegadores modernos */
}
@font-face {
  font-family: Ubuntu-Bold;
  /* Safari, Android, iOS */
  src: url("/fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
  /*Formato para navegadores modernos */
}
@font-face {
  font-family: Ubuntu-Medium;
  /* Safari, Android, iOS */
  src: url("/fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
  /*Formato para navegadores modernos */
}
@font-face {
  font-family: Ubuntu-Light;
  /* Safari, Android, iOS */
  src: urlurl("/fonts/Ubuntu/Ubuntu-Light") format("truetype");
  /*Formato para navegadores modernos */
}
/*Roboto Slab*/
@font-face {
  font-family: Roboto-slab;
  /* Safari, Android, iOS */
  src: url("/fonts/Roboto/Roboto Slab regular.ttf") format("truetype");
  /*Formato para navegadores modernos */
}
@font-face {
  font-family: Roboto-slab100;
  /* Safari, Android, iOS */
  src: url("/fonts/Roboto/Roboto Slab 100.ttf") format("truetype");
  /*Formato para navegadores modernos */
}
@font-face {
  font-family: Roboto-slab300;
  /* Safari, Android, iOS */
  src: url("/fonts/Roboto/Roboto Slab 300.ttf") format("truetype");
  /*Formato para navegadores modernos */
}
@font-face {
  font-family: Roboto-slab700;
  /* Safari, Android, iOS */
  src: url("/fonts/Roboto/Roboto Slab 700.ttf") format("truetype");
  /*Formato para navegadores modernos */
}
/*Instanciados */
/*Montserrat*/
/*Oswald*/
/*Roboto slab*/
/*Ubuntu*/
/*Colores secundarios*/
#ic-user {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #ea5252;
  font-size: 1.5em;
}

/*
#bt-ingreso{}
#bt-registro{}
*/
.navbar {
  box-shadow: 2px 11px 25px -8px rgba(117, 115, 117, 0.2);
}

.brand-capital,
.brand-normal {
  font-family: Montserrat-Bold, sans-serif;
  text-transform: uppercase;
}

.brand-capital {
  color: #000000;
}

.brand-normal {
  color: #ea5252;
}

.nav-item {
  font-size: 1.1em;
}

#ic-cerrar {
  color: rgba(0, 0, 0, 0.8);
  float: right;
  font-size: 1.6em;
}

.btn-sender {
  width: 100%;
  height: 2.5em;
  font-size: 1.4em;
  font-family: Ubuntu, sans-serif;
}

#separador-sec {
  margin-top: 35%;
}

.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}

.navbar-brand {
  float: none;
  text-decoration: none;
  cursor: default;
}

.header-in {
  width: 100%;
  height: 3em;
}
.header-in h3 {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.8em;
  font-family: Montserrat-Bold, sans-serif;
}

.form-control {
  height: 2.3em;
  font-size: 1.3em;
  margin-bottom: 0.5em;
  font-family: Ubuntu, sans-serif;
}

.forgot-password {
  text-align: center;
}

.input-group-text {
  opacity: 0.6;
}

.form-control-feedback {
  color: red;
}

.form-control-error {
  border-color: red;
}

.form-control-exito {
  border-color: green;
}

.confir-tick {
  width: 150px;
  height: 150px;
  opacity: 0.7;
  margin-top: 0.3em;
}

.container-tick {
  text-align: center;
}

.container-button {
  margin-top: 1.8em;
}

.container-texto {
  margin-top: 2.5em;
  text-align: center;
}

.text-gray {
  opacity: 0.6;
  font-size: 0.8em;
}

/*# sourceMappingURL=custom-ingreso.css.map */
