$primario: rgb(234, 82, 82);
$primario-darken: rgb(153, 35, 55);
$secundario: rgb(231, 0, 154);
$estructura: rgba(128, 128, 128, .2);
/*Colores secundarios*/

$links: #303C49;
$facebook: rgb(0, 103, 187);
$facebook-darken: rgb(0, 81, 148);
$calip: rgb(60, 145, 255);
$calip-lighten: rgb(93, 161, 250);
$calip-darken: rgb(54, 127, 223);
$calipso:#1D96B2;
$calipso-lighten:rgb(45, 168, 196);
$calipso-darken:rgb(14, 140, 168);
$naranjo: rgb(255, 128, 0);
$naranjo-lighten: rgb(250, 156, 61);
$naranjo-darken: rgb(211, 86, 14);
$blanco: #FFFFFF;
$negro: #000000;
$morado:#6363CE;