#ic-user {
    margin-top: 1em;
    margin-bottom: 1em;
    color: $primario;
    font-size: 1.5em;
    font-weight: 800;
}
/*
#bt-ingreso{}
#bt-registro{}
*/
.navbar {
    box-shadow: 2px 11px 25px -8px rgba(117, 115, 117, .2);
}

//.navbar-brand {}
.brand-capital,
.brand-normal {
    font-family: $montse-negrita;
    text-transform: uppercase;
}

.brand-capital {
    color: $negro;
}

.brand-normal {
    color: $primario;
}

.nav-item {
    font-size: 1.1em;
    &:hover{
        text-decoration: underline;
        
    }
}


//.icon-social {}