#ic-user {
    margin-top: 1em;
    margin-bottom: 1em;
    color: $primario;
    font-size: 1.5em;
}



#ic-cerrar {
    color: rgba($color: #000000, $alpha: 0.8);
    float: right;
    font-size: 1.6em;
}

//.navbar-brand {}
.brand-capital,
.brand-normal {
    font-family: $montse-negrita;
    text-transform: uppercase;
}

.brand-capital {
    color: $negro;
}

.brand-normal {
    color: $primario;
}

.nav-item {
    font-size: 1.1em;
}

//.icon-social {}