@import "fuentes";
@import "colores";
@import "header";
#ic-cerrar {
    color: rgba($color: #000000, $alpha: 0.8);
    float: right;
    font-size: 1.6em;
}

.btn-sender {
    width: 100%;
    height: 2.5em;
    font-size: 1.4em;
    font-family: $ubuntu;
}

#separador-sec {
    margin-top: 35%;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-brand {
    float: none;
    text-decoration: none;
    cursor: default;
}

.header-in {
    h3 {
        text-align: center;
        color: rgba($color: #000000, $alpha: 0.6);
        font-size: 1.8em;
        font-family: $montse-negrita;
    }
    width: 100%;
    height: 3em
}

.form-control {
    height: 2.3em;
    font-size: 1.3em;
    margin-bottom: .5em;
    font-family: $ubuntu;
}

.forgot-password {
    text-align: center;
}

.input-group-text {
    opacity: .6;
}

.form-control-feedback {
    color: red;
}

.form-control-error {
    border-color: red;
}

.form-control-exito {
    border-color: green;
}

.confir-tick {
    width: 150px;
    height: 150px;
    opacity: .7;
    margin-top: .3em;
}

.container-tick {
    text-align: center;
}

.container-button {
    margin-top: 1.8em;
}

.container-texto {
    margin-top: 2.5em;
    text-align: center;
}

/*Manipulación de textos*/
.text-gray,
.especial-gray,
.footer-gray {
    opacity: .6;
}

.especial-gray,
.footer-gray {
    font-family: $ubuntu;
    text-align: center;
}

.text-gray {
    font-size: .8em;
}

.especial-gray {
    font-size: 1.2em;
}

.footer-gray {
    font-size: .9em;
}