@import "colores";
@import "fuentes";
@import "headeradm";
@import "sideadm";


.text-primario{
    color: $primario;
}
text-gray
.text-primario-darken{
    color: $primario-darken;
}
.color-primario{
    background-color: $primario;
    color:white;
    font-family: $ubuntu;
}