<select id="ctlCiudad" name="ciudad" class="form-control" >
        <option value="1">Arica</option>
        <option value="2">Iquique</option>
        <option value="3">Pozo Almonte</option>
        <option value="4">Antofagasta</option>
        <option value="5">Calama</option>
        <option value="6">Tocopilla</option>
        <option value="7">Mejillones</option>
        <option value="8">La serena</option>
        <option value="9">Coquimbo</option>
        <option value="10">Ovalle</option>
        <option value="11">Combarbalá</option>
        <option value="12">Los Andes</option>
        <option value="13">Valparaíso</option>
        <option value="14">Viña del mar</option>
        <option value="15">Santiago</option>
        <option value="16">Rancagua</option>
        <option value="17">San Fernando</option>
        <option value="18">Talca</option>
        <option value="19">Concepción</option>
        <option value="20">Talcahuano</option>
        <option value="21">Chillán</option>
        <option value="22">Temuco</option>
        <option value="23">Padre Las Casas</option>
        <option value="24">Angol</option>
        <option value="25">Lautaro</option>
        <option value="26">Valdivia</option>
        <option value="27">Los lagos</option>
        <option value="28">Puerto Montt</option>
        <option value="29">Puerto Varas</option>
        <option value="30">Osorno</option>
        <option value="31">Coyhaique</option>
        <option value="32">Puerto Aysén</option>
        <option value="33">Punta Arenas</option>
        <option value="34">Puerto Natales</option>
    </select>