<!--==========================Haciendo uso de BS4================================-->
<link rel="stylesheet" href="/css/bootstrap/bootstrap.css" />
<!--==========================Fontawesome========================================-->
<link rel="stylesheet" href="/fontawesome/css/all.min.css" />
<!--==========================Toastr.JS==========================================-->
<link rel="stylesheet" href="/css/vendor/toastr.min.css" />
<!--========================Haciendo uso del CSS propio==========================-->
<link rel="stylesheet" href="/css/principal.css" />
<!--========================Haciendo uso del CSS propio==========================-->
<link rel="stylesheet" href="/css/custom_admin.css">